<!DOCTYPE html>
<html>
<head>
  <title>AmetCare</title>
  <link type="text/css" href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
  <footer class="nav1">
    <a href="/allergy" class="but">
      <img src="{{ url_for('static', filename='img/yes.png') }}" class= "back_img">
    </a> 
    <a href="/main" class="but">
      <img src="{{ url_for('static', filename='img/no.png') }}" class= "back_img" >
    </a> 
  </footer>
  <a href="/start2" class="back">
    <img src="{{ url_for('static', filename='img/arrback.png') }}">
  </a> 

  <div class="container">
    <div id="slText" width = "5em" >Есть ли у вас аллергии?</div>
  </form>
  </div>
</body>
</html>