<!DOCTYPE html>
<html>
<head>
  <title>AmetCare</title>
  <link type="text/css" href="{{ url_for('static', filename='css/stylecopy.css') }}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div id = "title">Получите индивидуальный план питания на основе вашего личного 
      “Портрета желаний”</div>
    <a href="/login" class="but">
      <img src="{{ url_for('static', filename='img/login.png') }}" class="center-image">
    </a>
    <a href="/register" class = "but">
      <img src="{{ url_for('static', filename='img/signin.png') }}" class="center-image">
    </a>
  </div>  
</body>
</html>